html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(27, 27, 27);
    cursor: crosshair;
}

::-webkit-scrollbar {
    width: 10px;
  }
  

  ::-webkit-scrollbar-track {
    background: #444444;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #121212;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background:#121212;
  }
.big
{
    max-height: 100%;
    overflow: hidden;
}

.overlay-2 {
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: gainsboro;
}

.overlay {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #101010;
}

.overlay p {
    font-size: 300px;
    font-weight: 800;
}

.myBtn {
    font-family: 'Oswald', sans-serif;
    position: absolute;
    top: 80%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}
.myBtn1 {
    font-family: 'Oswald', sans-serif;
    position: absolute;
    top: 90%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}
.myBtn1:hover {
    color: #101010;
    cursor: crosshair;
}

.myBtn1:before {
    content: "";
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.8s ease-out;
}

.myBtn1:hover:before {
    top: 0;
}
button {
    display: block;
    padding: 24px 48px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 6px;
    color: #fff;
    border: 2px solid #fff;
    text-transform: lowercase;
    outline: none;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: crosshair;
    transition: 0.8s ease-out;
}

.myBtn:hover {
    color: #101010;
    cursor: crosshair;
}

.myBtn:before {
    content: "";
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.8s ease-out;
}

.myBtn:hover:before {
    top: 0;
}

#abt{
    left: 30%;
}

#pro{
    left: 70%
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #121212 ; 
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow: hidden;
}
.container pre{
    position: absolute;
    text-align: left;
    top: 0%;
    left: 10%;
    color: white;
    font-size: 36px;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
    text-transform: lowercase;
    
}
#hello{
    color: gainsboro;
    font-weight: 200;
    font-size: 250px;
    font-stretch: ultra-expanded;
    letter-spacing: 5.5px;
    font-family: 'Squada One', cursive;
}
#black{
    color: #121212;
    font-weight: 200;
    font-size: 250px;
    font-stretch: ultra-expanded;
    letter-spacing: 7px;
    font-family: 'Squada One', cursive;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    scroll-snap-align: center;
}

#tagline
{
    font-size: 36px;
    color:white ;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
}


.container-left {
    position: absolute;
    width: 50%;
    height: 100vh;
    z-index: 5;
}

.container-right {
    position: absolute;
    width: 50%;
    height: 100vh;
    left: 50%;
    /* background: url('Grayscale2.jpg') no-repeat 50% 50%; */
    background-size: 110%;
    top: 0%;
    box-sizing: border-box;
    
}

.container-right img{
    width: 100%;
    height: 100%;
}

.glitch{
    z-index: -5;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
}



.intro {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.intro h1 {
    width: 100%;
    color: gainsboro;
    font-weight: 200;
    font-size: 200px;
    font-stretch: ultra-expanded;
    letter-spacing: 5.5px;
    font-family: 'Squada One', cursive;
    text-transform: lowercase;
}

.intro-title .letter {  
    display: inline-block;
    line-height: 1em;
}   

#two{
    background-color:rgb(27, 27, 27);
    display: inline-block;
    height: 100vh;
    width: 100%;
}

.container-l{
    width: 48%;
    float: left;
    padding-left: 20px;
}

.heading1 h1{
    position: relative;
    top: -150px;
    color: gainsboro;
    font-size: 200px;
    font-family: 'Squada One', cursive;
    text-align: left;
    left: -4%;
}

#effect{
   top: -320px !important;
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: left;
   justify-content: center;
   color: gainsboro; 
   position: relative;
   left: -5%;
}

.paragraph{
    font-size: 22px;
    color: gainsboro;
    text-align: center;
    justify-content:center;
    font-family: 'Oswald', sans-serif;
    text-transform: lowercase;
    position: fixed;
}

.blue{
    text-transform: uppercase;
    color: grey;
}
.blue:hover{
    color: aliceblue;
}

.blue1{
    text-transform: uppercase;
    color: rgb(181, 217, 233);
}
.blue1:hover{
    color: rgb(21, 115, 177);
}

.gold{
    text-transform: uppercase;
    color: rgb(255, 213, 113);
}
.gold:hover{
    color: rgb(255,183,17);
}

.ice{
    text-transform: uppercase;
    color: rgb(51, 104, 117);
}
.ice:hover{
    color: rgb(45,94,160);
}
.wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    transform: scale(0.9,0.7);
    left: -2%;
}


.container-r{
    width: 48%;
    float: right;
}

#three{
    display: inline-block; 
    background-color:#121212; 
}

.text-l{
    margin-top: 5px;
    color: gainsboro;
    margin-bottom: 40px;
    font-size: 220px;
    text-align: left;
    font-family: 'Squada One', cursive;
    font-weight: 200;
    top: 30px !important;
    padding-left: 100px;
    left: 120px;
}

.slider1{
    width: 1000px;
    height: 700px;
    overflow: hidden;
    position: relative;
    left: -350px;
    top: 30px;
  }

.rgbKineticSlider {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

canvas {
    position: relative;
    display: block;
    top: 0;
    left: 0;
}

#four{
    background-color: rgb(27, 27, 27);
    display: inline-block;
    height: 100vh;
    width: 100%;
}
.heading3{
   top: 120px;
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: right;
   justify-content: center;
   color: gainsboro; 
   position: relative;
   left: 6%;
}
.paragraph3{
    font-size: 22px;
    color: gainsboro;
    text-align: center;
    justify-content:center;
    font-family: 'Oswald', sans-serif;
    text-transform: lowercase;
}

#five{
    background-color: #121212;
    display: inline-block;
    height: 100vh;
    width: 100%;
}
.heading4{
    position: relative;
    top: 200px;
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: left;
    justify-content: center;
    color: gainsboro; 
 
    left: -10%;
 }
 .paragraph4{
     font-size: 22px;
     color: gainsboro;
     text-align: center;
     justify-content:center;
     font-family: 'Oswald', sans-serif;
     text-transform: lowercase;
 }
#six{
    background-color: rgb(27, 27, 27);
    display: inline-block;
    height: 100vh;
    width: 100%;
}
.container-l1{
    width: 48%;
    float: left;
    padding-left: 20px;
    max-height: 100vh;
}
.container-r1{
    top: -200px;
    width: 48%;
    float: right;
    max-height: 100vh;
}
.heading5{
    top: 160px;
    width: 100%;
    max-height: 100vh;
    display: flex;
    align-items: right;
    justify-content: center;
    color: gainsboro; 
    position: relative;
    left: 6%;
 }

 .paragraph5{
     height: 50vh;
     font-size: 22px;
     color: gainsboro;
     text-align: center;
     justify-content:center;
     font-family: 'Oswald', sans-serif;
     text-transform: lowercase;
 }
.slider-l{
    width: 800px;
    height: 600px;
    overflow: hidden;
    position: relative;
    top: 70px;
    left: 70px;
    transform: scale(1,1);
  }

.slider-r{
    width: 800px;
    height: 600px;
    overflow: hidden;
    position: relative;
    top: +80px;
    left: -130px;
    transform: scale(1,1);
}
.slider-r img{
    width: 700px;
    height: 500px;
}

.wrapper1 {
    width: 100%;
    height: 100vh;
    position: relative;
    transform: scale(1,1);
    left: -2%;
}

.wrapper2 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    transform: scale(1,1);
    left: -2%;
}
.wrapper3 {
    width: 100%;
    height: 100vh;
    position: relative;
    transform: scale(1,1);
    left: -2%;
}
a:link {
    color: royalblue;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: gainsboro;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color:gainsboro;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: gainsboro;
    background-color: transparent;
    text-decoration: underline;
  }

  .foot{
      height: 20vh !important;
      width: 100%;
      background-color: rgb(27, 27, 27);
      align-content: center;
      margin-bottom: 30px;
      padding-bottom: 50px;
  }
  .cont{
      font-size: 60px;
      text-align: center;
      font-stretch: ultra-expanded;
      letter-spacing: 10px;
      font-family: 'Squada One', cursive;
      color: gainsboro;
  }

  .wrap{
      padding-right: 40px;
      display: inline-block;
      align-items: center;
      position: relative;
      float: right;
  }
  .wrap .buttons{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: right;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
  }
  .wrap .buttons:hover{
    width: 200px;
  }
  .wrap .buttons .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrap .buttons:nth-child(1):hover .icon{
    background: #00349c;
  }
  .wrap .buttons:nth-child(2):hover .icon{
    background: #1DA1F2;
  }
  .wrap .buttons:nth-child(3):hover .icon{
    background: #E1306C;
  }
  
  
  .wrap .buttons:nth-child(4):hover .icon{
    background: #333333;
  }
  .wrap .buttons .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrap .buttons:hover .icon i{
    color: #fff;
  }
  .wrap .buttons span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .wrap .buttons:nth-child(1) span{
    color: #00349c;
  }
  .wrap .buttons:nth-child(2) span{
    color: #1DA1F2;
  }
  .wrap .buttons:nth-child(3) span{
    color: #E1306C;
  }
  .wrap .buttons:nth-child(4) span{
    color: #333333;
  }
  .email{
      
      position: relative;
      display: inline-block;
      color: gainsboro;
      font-size: 40px;
      padding-left: 30px;
      font-weight: 300;
      font-stretch: ultra-expanded;
      max-width: 200px; 
  }
  .mail a:active{
    color: gainsboro !important;
    background-color: transparent;
    text-decoration: underline; 
  }
  .mail a:visited{
    color: gainsboro !important;
    background-color: transparent;
    text-decoration: underline; 
  }
  .mail a:link{
    color: gainsboro !important;
    background-color: transparent;
    text-decoration: underline; 
  }